# IDE
.clangd
compile_commands.json

# Build folders
build*/
docs/_build/

# Python stuff
**/__pycache__/
**/.ipynb_checkpoints/

# Mesh files
examples/**/*.msh

# Test output foldersd ..
test/test_data/temp_test_results/*