[submodule "submodules/mneme"]
	path = submodules/mneme
	url = https://github.com/TEAR-ERC/mneme.git
[submodule "submodules/utils"]
	path = submodules/utils
	url = https://github.com/TUM-I5/utils.git
[submodule "submodules/xdmfwriter"]
	path = submodules/xdmfwriter
	url = https://github.com/TUM-I5/XdmfWriter.git
[submodule "submodules/yateto"]
	path = submodules/yateto
	url = https://github.com/SeisSol/yateto.git
