notifications:
  email:
    on_success: always
    on_failure: always

language: cpp
compiler: gcc
dist: bionic
env:
  - "OMPI_CC=gcc-9 OMPI_CXX=g++-9 CC=mpicc CXX=mpiCC"

before_install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update
  - sudo apt-get -y install gcc-9 g++-9 cmake openmpi-bin openmpi-common libopenmpi-dev libmetis-dev libparmetis-dev libeigen3-dev python3 python3-numpy

script:
  - ls $(dirname $(which python3))
  - mkdir build && cd build
  - cmake .. -DPython3_ROOT_DIR=$(dirname $(which python3))
  - make -j2
  - make test

